
.App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*颜色色值*/
.basicBg {
    background-color: cadetblue;
}

.redBg {
    background-color: crimson;
}

/*字体大小设置*/
.basicFontSize {
    font-size: medium;
}

/*字体居中*/
.textCenter {
    text-align: center;
}

/*居中设置*/
.center {
    align-items: center;
    justify-content: center;
}

.uac {
    align-content: center;
}

.w100 {
    width: 100%;
}

.h80 {
    height: max-content;
}

.h50 {
    height: 50%;
}

/*实际的高度*/
.h2 {
    height: 2em;
}

.uf1 {
    flex: 1;
}

.udr {
    flex-direction: row;
}

.udc {
    flex-direction: column;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.App-title {
    font-size: medium;
    font-weight: bold;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
